/* ============================== COMMON STYLE ============================== */
html,
body {
  margin: 0;
  padding: 0;
  font-family: "AleksandraC", sans-serif;
  font-size: 14px;
  line-height: 24px;
  color: black;
  background: white url("../img/html-bg-1.png"); }

img {
  width: 100%;
  height: auto; }

/* ============================== TYPOGRAPHICS ============================== */
.tg > h1 {
  margin: 20px 0;
  font-size: 34px;
  line-height: 40px;
  text-align: center; }

.__dev {
  outline: 1px solid red !important; }

.__dev_green {
  outline: 1px solid green !important; }

.display-off {
  display: none; }

.display-on {
  display: block; }

/* aleksandrac - cyrillic_latin */
@font-face {
  font-family: 'AleksandraC';
  src: url("../fonts/aleksandrac_regular-webfont.woff2") format("woff2"), url("../fonts/aleksandrac_regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

/* aleksandrac_vintage - cyrillic_latin */
@font-face {
  font-family: 'AleksandraC_vintage';
  src: url("../fonts/aleksandrac_vintage-webfont.woff2") format("woff2"), url("../fonts/aleksandrac_vintage-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

/* fontello */
@font-face {
  font-family: 'fontello';
  src: url("../fonts/fontello.eot%3F61328823");
  src: url("../fonts/fontello.eot%3F61328823") format("embedded-opentype"), url("../fonts/fontello.woff%3F61328823") format("woff"), url("../fonts/fontello.ttf%3F61328823") format("truetype"), url("../fonts/fontello.svg%3F61328823") format("svg");
  font-weight: normal;
  font-style: normal; }

.grid__row-external {
  padding-left: 5%;
  padding-right: 5%; }
  .grid__row-external::after {
    content: "";
    display: table;
    clear: both; }
  .grid__row-external::before {
    content: "";
    display: table;
    clear: both; }

.grid__row-inner {
  max-width: 1280px;
  margin: 0 auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }
  .grid__row-inner::after {
    content: "";
    display: table;
    clear: both; }
  .grid__row-inner::before {
    content: "";
    display: table;
    clear: both; }

.grid__column-1 {
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }
  .grid__column-1::after {
    content: "";
    display: table;
    clear: both; }
  .grid__column-1::before {
    content: "";
    display: table;
    clear: both; }
  .grid__column-1--presentation {
    margin-top: 13px;
    margin-bottom: 10px; }

.grid__column-2 {
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }
  .grid__column-2::after {
    content: "";
    display: table;
    clear: both; }
  .grid__column-2::before {
    content: "";
    display: table;
    clear: both; }
  .grid__column-2--menu {
    margin-top: 15px;
    margin-bottom: 10px; }
  .grid__column-2--contacts {
    margin: 0 auto; }

.about-me {
  margin-top: 10px;
  margin-bottom: 40px;
  padding: 5px 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 14px;
  line-height: 24px;
  text-align: justify; }

.about-me__paragraph {
  padding: 0px;
  margin: 0px;
  margin-top: 1%;
  text-indent: 35px; }
  .about-me__paragraph:first-of-type {
    margin-top: 0; }
  .about-me__paragraph b {
    padding: 3px 7px;
    margin-top: 3px;
    margin-bottom: 3px;
    color: #d2a86c;
    text-indent: 0px;
    white-space: nowrap;
    -webkit-box-shadow: 0 0 1px 1px #d9b786 inset;
            box-shadow: 0 0 1px 1px #d9b786 inset;
    border-radius: 5px; }

.contacts__title {
  color: #333333; }

.contacts__icons {
  text-align: center; }

.contacts__icon {
  color: #333333;
  font-family: 'fontello';
  font-size: 60px;
  line-height: 100px;
  letter-spacing: 10px;
  text-decoration: none; }
  .contacts__icon:hover {
    color: #987347; }

.contacts__mail {
  padding: 5px 7px;
  font-size: 14px;
  font-weight: 500;
  color: black;
  line-height: 20px;
  text-align: center;
  background: #fff3de;
  border: 2px solid #dec3a5;
  border-radius: 3px; }

footer {
  min-height: 50px;
  background: #fff3de; }

.header {
  background: black; }

.menu {
  position: relative;
  padding: 5px;
  color: black;
  font-family: 'Alice', serif;
  font-weight: normal;
  border-radius: 3px;
  background: #232323; }

.menu__sandwich {
  position: relative;
  z-index: 11; }

.menu__sandwich-title {
  position: absolute;
  left: 55px;
  top: -2px;
  color: #987347;
  font-size: 16px;
  font-weight: 900;
  line-height: 36px;
  letter-spacing: 0.7px;
  text-transform: uppercase;
  text-decoration: none; }

.menu__sandwich-icon {
  display: block;
  width: 35px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 3px; }
  .menu__sandwich-icon::after {
    content: "";
    display: table;
    clear: both; }
  .menu__sandwich-icon::before {
    content: "";
    display: table;
    clear: both; }

.menu__sandwich-line {
  width: 25px;
  height: 3px;
  margin: 5px auto;
  background: #d2a86c; }

.menu__links {
  position: absolute;
  top: 3px;
  left: 0px;
  z-index: 10;
  width: 100%;
  margin: 0;
  padding: 0;
  font-size: 0px;
  list-style: none;
  border-radius: 3px;
  background: #232323; }

.menu__link {
  position: relative;
  padding-left: 60px;
  color: #777777;
  font-size: 16px;
  font-weight: 900;
  line-height: 36px;
  letter-spacing: 0.7px;
  text-transform: uppercase;
  text-decoration: none; }
  .menu__link a {
    text-decoration: inherit;
    color: inherit; }
  .menu__link--active {
    visibility: hidden;
    color: #987347; }
    .menu__link--active:hover {
      color: #987347;
      cursor: default; }
  .menu__link:hover {
    color: #987347; }

.menu__hr-link {
  display: block;
  margin-left: 55px;
  margin-right: 15px;
  border: none;
  color: #383838;
  background-color: #383838;
  height: 2px; }

.presentation {
  font-family: 'Alice', serif;
  color: white; }

.presentation__title {
  margin: 0;
  color: #d2a86c;
  color: #d9b786;
  font-size: 36px;
  line-height: 40px;
  font-weight: bold; }

.presentation__description {
  margin: 0;
  padding-top: 7px;
  color: #987347;
  font-size: 19px;
  font-weight: normal;
  line-height: 19px; }

.projects {
  font-size: 0;
  line-height: 0; }

.projects__title {
  color: #333333; }

.projects__item {
  position: relative;
  display: inline-block;
  vertical-align: bottom;
  width: 100%;
  margin: 0;
  margin-bottom: 5%;
  padding: 0;
  padding-bottom: 20px;
  background: white;
  border: 5px solid white;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0px 0px 6px 1px #5a5d79;
          box-shadow: 0px 0px 6px 1px #5a5d79; }
  .projects__item:hover {
    border-color: #dddddd; }
  .projects__item:hover .projects__item-popup {
    visibility: visible; }

.projects__item-popup {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: white;
  overflow: hidden;
  visibility: hidden;
  background: rgba(0, 0, 0, 0.9); }

.projects__item-title {
  margin: 0 7%;
  padding: 0 3%;
  padding-top: 5%;
  padding-bottom: 2%;
  font-size: 20px;
  line-height: 28px;
  vertical-align: middle;
  text-align: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-bottom: 2px solid #d9b786; }

.projects__item-description {
  height: 40%;
  margin: 0;
  margin-bottom: 15%;
  padding: 2% 7%;
  overflow: hidden;
  color: #cccccc;
  font-size: 14px;
  line-height: 24px;
  font-weight: normal; }

.projects__item-link {
  font-size: 12px; }

.submain {
  background: #333333;
  color: cornsilk; }

@media (min-width: 450px) {
  .grid__column-1 {
    float: left; }
    .grid__column-1--presentation {
      width: 340px;
      margin-bottom: 19px; }
    .grid__column-1--contacts {
      float: none; }
  .grid__column-2 {
    float: right;
    width: auto; }
    .grid__column-2--menu {
      margin-top: 21px; }
    .grid__column-2--contacts {
      float: none; }
  .menu {
    background: transparent; }
  .menu__sandwich-title {
    display: none; }
  .menu__links {
    top: 0px;
    left: -253px;
    width: 300px;
    margin-right: -100px; }
  .menu__link {
    padding-left: 20px; }
    .menu__link--active {
      visibility: visible; }
  .menu__hr-link {
    margin-left: 15px; }
  .presentation__title {
    font-size: 38px; } }

@media (min-width: 550px) {
    .projects__item {
      margin-left: 2%;
      margin-bottom: 2%;
      width: 49%; }
      .projects__item:nth-of-type(2n+1) {
        margin-left: 0; } }

@media (min-width: 680px) {
  .contacts__mail {
    width: 680px; } }

@media (min-width: 950px) {
  .grid__column-1--presentation {
    width: 400px; }
  .about-me {
    font-size: 0;
    line-height: 0; }
  .about-me__paragraph {
    display: inline-block;
    vertical-align: top;
    width: 48%;
    margin: 0% 2%;
    font-size: 16px;
    line-height: 30px;
    word-spacing: normal; }
    .about-me__paragraph:first-of-type {
      margin-left: 0; }
    .about-me__paragraph:last-of-type {
      margin-right: 0; }
  .menu__sandwich-icon {
    display: none; }
  .menu__links {
    position: static;
    width: auto;
    margin-right: 0px;
    padding-top: 3px;
    display: block;
    background: transparent; }
  .menu__link {
    padding-left: 20px;
    padding-right: 20px;
    font-size: 16px;
    display: inline-block; }
    .menu__link::before {
      position: absolute;
      content: "";
      top: 16px;
      left: -2px;
      width: 5px;
      height: 5px;
      -webkit-transform: rotate(45deg);
          -ms-transform: rotate(45deg);
              transform: rotate(45deg);
      background: #333333; }
    .menu__link:first-of-type {
      padding-left: 0;
      border-left: none; }
      .menu__link:first-of-type::before {
        display: none; }
    .menu__link:last-of-type {
      padding-right: 0; }
    .menu__link--other {
      display: none; }
  .menu__hr-link {
    display: none; } }

@media (min-width: 1050px) {
  .menu__link {
    font-size: 18px; }
  .presentation__title {
    font-size: 42px; }
    .projects__item {
      width: 32%;
      margin-left: 2%; }
      .projects__item:nth-of-type(2n+1) {
        margin-left: 2%; }
      .projects__item:nth-of-type(3n+1) {
        margin-left: 0%; } }

@media (min-width: 1200px) {
  .menu__link {
    font-size: 18px; }
    .menu__link--other {
      display: inline-block; } }
