input {
	padding: 0 25px;
	border: none;
	outline: none;
	border-radius: 35px;
	background: rgba(255,255,255,.3);
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	color: #FFFFFF;
}

input:focus {
	border: 1px solid #ECB721;
}

.error {
	box-shadow:inset 0 0 10px #FF0000!important;
	transition: all 1s ease;
}






/* Стили Main-form */
/* =============================================================================================== */





.main-form {
	width: 100%;
	position: absolute;
	left: 0;
	bottom: 0;
	z-index: 30;
}

.inp {
	display: inline-block;
	vertical-align: top;
	margin: 0;
	width: 23%;
	height: 100px;
	background: rgba(0,0,0,.5);
	position: relative;
}

.main-form form > div:not(:last-child) {
	border-right: 1px solid #443D35;
}

.main-form input {
	width: 140px;
	height: 40px;
	margin: 30px 0 0 0;
}

/* Чтобы появившаяся рамка на импуте не двигала div.inp */
.main-form input:focus {
	margin: 29px 0 0 0;
}

.main-form button {
	width: 190px;
	height: 40px;
	margin: 30px 0 0 0;
}

.main-form-title {
	width: 75%;
	font-family: 'Roboto', sans-serif;
	letter-spacing: 1.5px;
}

.main-form-title p:nth-child(1) {
	color: #FFFFFF;
	font-weight: 300;
	font-size: 16px;
}

.main-form-title p:nth-child(2) {
	color: #CCCCCC;
	font-weight: 100;
	font-size: 14px;
}

.promo {
	width: 222px;
	height: 78px;
	background: url(../images/promo.png) no-repeat center;
	position: absolute;
	top: -95px;
	right: 0;
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	color: #333333;
	font-size: 14px;
	padding-top: 15px;
}

.promo p {
	margin: 0;
}

.promo p > span:nth-of-type(2) {
	font-weight: 900;
}





/* Стили Connect-form */
/* =============================================================================================== */





.connect-form {
	display: inline-block;
	text-align: center;
	width: 460px;
	height: 100%;
	background: rgba(0,0,0,.7);
	margin-left: 500px;
	color: #FFFFFF;
}

.connect-form-title {
	margin: 0 0 45px 0;
}

.connect-form-title p {
	margin: 0;
}

.connect-form-title > p:nth-of-type(1) {
	font-size: 24px;
	padding-top: 230px;
}

.connect-form-title > p:nth-of-type(2) {
	font-weight: 300;
	font-size: 18px;
}

.connect-form input {
	width: 310px;
	height: 55px;
	font-size: 18px;
	margin: 15px 0;
}

.connect-form input:focus {
	width: 310px;
	height: 53px;
	padding: 0 24px; 
}

.connect-form button.rnd {
	vertical-align: top;
	width: 360px;
	height: 55px;
	font-size: 16px;
	line-height: 55px;
	margin: 15px 0 0 0;
}

.connect-form button .icon {
	position: relative;
	width: 30px;
	height: 55px;
	vertical-align: middle;
	display: inline-block;
	background: url(../images/btn-icon.png) no-repeat -60px center;
	margin: -5px 5px 0 -10px;
}





/* Стили Last-form */
/* =============================================================================================== */





.last-form form {
	width: 740px;
	text-align: center;
	padding: 60px 0 0 0;
}

.last-form input {
	width: 170px;
	height: 40px;
	padding: 0 25px;
	border: none;
	outline: none;
	border-radius: 35px;
	background: rgba(0,0,0,.5);
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	font-size: 18px;
	color: #FFFFFF;
	margin: 0 10px;

}

.last-form input:focus {
	border: 1px solid #FFFFFF;
	width: 170px;
	height: 38px;
	padding: 0 24px;
}

.last-form button.rnd {
	vertical-align: top;
	width: 350px;
	height: 40px;
	font-size: 16px;
	line-height: 40px;
	margin: 30px 0 0 0;
}

.last-form button .icon {
	position: relative;
	width: 30px;
	height: 40px;
	vertical-align: middle;
	display: inline-block;
	background: url(../images/btn-icon.png) no-repeat -120px center;
	margin: 0 5px 0 -10px;
}

