/*   Стили для Steps     */
/* =============================================================================================== */





.steps {
	width: 100%;
	height: 925px;
	background: url(../images/steps.png) no-repeat center;
	text-align: center;
	overflow-x: hidden;
}

.vertical {
	display: inline-block;
	width: 4px;
	height: 600px;
	background: #C6C6C6;
	margin: 195px auto 0 auto;
	position: relative;
}

.vertical > div:nth-of-type(1) .step-text,
.vertical > div:nth-of-type(5) .step-text {
	padding-top: 20px;
	height: 70px;
}

.vertical > div:nth-of-type(3) .step-text {
	line-height: 90px;
}

.vertical > div:nth-of-type(1) {
	position: absolute;
	top: -45px;
	left: -120px;
}

.vertical > div:nth-of-type(2) {
	position: absolute;
	top: 105px;
	right: -120px;
}

.vertical > div:nth-of-type(2) .step-text {
	background-position: 0 -180px;
}

.vertical > div:nth-of-type(3) {
	position: absolute;
	top: 255px;
	left: -120px;
}

.vertical > div:nth-of-type(3) .step-text {
	background-position: 0 -360px;
}

.vertical > div:nth-of-type(4) {
	position: absolute;
	top: 405px;
	right: -120px;
}

.vertical > div:nth-of-type(4) .step-text {
	background-position: 0 -540px;
}

.vertical > div:nth-of-type(5) {
	position: absolute;
	top: 555px;
	left: -120px;
}

.vertical > div:nth-of-type(5) .step-text {
	background-position: 0 -720px;
}

.step {
	width: 590px;
	height: 90px;
	cursor: pointer;
}

.step .step-title {
	font-size: 30px;
	color: #FFFFFF;
	font-weight: 300;
	width: 100px;
	display: inline-block;
	line-height: 90px;
}

.step-text {
	width: 449px;
	height: 90px;
	display: inline-block;
	background: url(../images/step-icon.png) no-repeat;
	text-align: left;
	font-size: 18px;
	font-weight: 300;
	line-height: 25px;
}

.steps .right .step-text {
	padding-left: 40px;
	width: 409px;
	position: relative;
}

.steps .left .step-text {
	text-align: right;
	padding-right: 40px;
	width: 409px;
	line-height: 90px;
	position: relative;
}

/* Точки на шкале для каждого шага */
.steps .right .step-text:after {
	content: '';
	width: 16px;
	height: 16px;
	border-radius: 20px;
	background: #303030;
	border: 2px solid #C6C6C6;
	position: absolute;
	top: 35px;
	left: -29px;
}

/* Точки на шкале для каждого шага */
.steps .left .step-text:after {
	content: '';
	width: 16px;
	height: 16px;
	border-radius: 20px;
	background: #303030;
	border: 2px solid #C6C6C6;
	position: absolute;
	top: 35px;
	right: -29px;
}

.steps .right .step-title {
	float: left;
}

.steps .right .step-text {
	float: right;
}

.steps .left .step-title {
	float: right;
}

.steps .left .step-text {
	float: left;
}




/* Стили при наведении */



.steps .right:hover .step-text:after {
	content: '';
	width: 16px;
	height: 16px;
	border-radius: 20px;
	background: #ECB721;
	border: 2px solid #ECB721;
	position: absolute;
	top: 35px;
	left: -29px;
}

.steps .left:hover .step-text:after {
	content: '';
	width: 16px;
	height: 16px;
	border-radius: 20px;
	background: #ECB721;
	border: 2px solid #ECB721;
	position: absolute;
	top: 35px;
	right: -29px;
}

.vertical > div:nth-of-type(1):hover .step-text {
	background-position: 0 -90px;
}

.vertical > div:nth-of-type(2):hover .step-text {
	background-position: 0 -270px;
}

.vertical > div:nth-of-type(3):hover .step-text {
	background-position: 0 -450px;
}

.vertical > div:nth-of-type(4):hover .step-text {
	background-position: 0 -630px;
}

.vertical > div:nth-of-type(5):hover .step-text {
	background-position: 0 -810px;
}

.step:hover .step-title {
	color: #ECB721;
}